body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
}

img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

#joke-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}

#random-joke-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#random-joke-btn:hover {
  background-color: #0f9d58;
}
.comment {
    width: 40%;
    height: 100px;
    padding: 10px;
    background-image: url("/uploads/media/default/0001/01/a1d4caa225542c577689287a36f4209808b08c19.jpeg");
    font: 1.4em/1.6em cursive;
    color: #095484;
  }
  